- title(@wish.title)

- if @wish.description.present?
  %h2 Description
  %pre.wish-description= replace_urls @wish.description

- if @wish.price.present?
  %h2 Price
  .wish-price= @wish.price

.buttons
  = link_to 'Edit Wish', edit_user_wish_path(@user, @wish), :class => 'button'
