body {
  font-size: 1em;
  margin: 0 auto;
  width: 90%; }

#header br {
  clear: both; }

#content ul {
  list-style-type: none;
  width: 80%; }
  #content ul a.button {
    float: none; }
#content h2 {
  color: #333;
  margin: .5em 0 0 0; }
#content .buttons {
  margin: 1em 0 0 0; }
#content pre.wish-description, #content .wish-price {
  border-left: 3px solid #333;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1em;
  margin: 0 0 0 1em;
  padding: 0 0 0 1em; }
#content form {
  width: 80%; }
#content a span.meta {
  color: #888;
  font-size: .6em; }
